<div class="mb-3 mt-5">
  <div class="col-12 text-center">
    <div class="col-12 my-4">
      <h1 class="text-uppercase display-6">As melhores marcas do mercado</h1>
      <p class="lead">Você só encontra aqui!</p>
      <hr>  
    </div>
  </div>
  
  <div class="row mr-2 ml-2">
    <div class="col-4 text-right">
      <img class="market-brands img-fluid" src="/assets/market-brands/logo_hotflowers.png">
    </div>
    <div class="col-4 text-center">
      <img class="market-brands img-fluid" src="/assets/market-brands/logo_intt.png">
    </div>
    <div class="col-4 text-left">
      <img class="market-brands img-fluid" src="/assets/market-brands/logo_softlove.png">
    </div>
  </div>
</div>