<!-- <div class="row pt-3 pb-3 pl-3 pr-3 justify-content-center logo">
  <div class="col-6 col-sm-4 col-lg-3">
    <img class="img-fluid" src="/assets/brand/logo-name-golden.png" alt="Logotipo Realeza">
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark mt5 text-uppercase" id="navbar-realeza">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto font-default col-sm-4">
      <li class="nav-item active">
        <a class="nav-link" href="#">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sobre">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Produtos</a>
      </li>
    </ul>

    <form class="form-inline mr-auto">
      <div class="input-group ml-2">      
        <input class="form-control input-form-control" type="search" placeholder="O que está procurando?">
        <div class="input-group-prepend">
          <button class="btn btn-outline-light" type="submit"><img src="/assets/icons/search-white.svg" alt="Botão para clicar e fazer uma pesquisa no site" width="20" height="20" title="Buscar"></button>      
        </div>
      </div> 
    </form>

    <ul class="navbar-nav font-default col-sm-4 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="https://api.whatsapp.com/send?phone=5519995014512" target="_blank"><img class="" src="/assets/icons/whatsapp_1.ico"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/realezabemestarsexual/" target="_blank"><img class="" src="/assets/icons/instagram_1.ico"></a>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg fixed-top navbar-dark mt5">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand logo col-sm-3" href="#">
    <img src="/assets/brand/logo.png" width="40" height="40" alt="logo">
  </a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <form class="form-inline col-sm-6">
      <div class="input-group">      
        <input class="form-control input-form-control" type="search" placeholder="O que está procurando?">
        <div class="input-group-prepend">
          <button class="btn btn-outline-light" type="submit"><img src="/assets/icons/search-white.svg" alt="Botão para clicar e fazer uma pesquisa no site" width="20" height="20" title="Buscar"></button>      
        </div>
      </div> 
    </form>

    <ul class="navbar-nav font-default col-sm-3">
      <li class="nav-item">
        <a class="nav-link" href="https://api.whatsapp.com/send?phone=5519995014512" target="_blank"><img class="" src="/assets/icons/whatsapp_1.ico"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.instagram.com/realezabemestarsexual/" target="_blank"><img class="" src="/assets/icons/instagram_1.ico"></a>
      </li>
    </ul>
  </div>
</nav>