<app-stripe-email-marketing></app-stripe-email-marketing>
<footer class="pt-3">
  <div class="container text-center">
    <div class="row ">
      <div class="col-12 col-sm-12 col-md-4">
        <h5 class="text-uppercase">Atendimento</h5>
        <hr>
        <strong>Horário de atendimento:</strong>
        <p>Segunda a Sexta das 10:00 às 18:00</p>
        <p><img src="/assets/icons/whatsapp.svg" alt="" width="48" height="48" title="whatsapp-icon"> (16) 92000-0603 <small>(Apenas Mensagens)</small></p>
        <p><img src="/assets/icons/telephone.svg" alt="" width="38" height="38" title="telephone-icon"> (16) 92000-0603 <small>(São Carlos e Região)</small></p>
        <p><img src="/assets/icons/envelope.svg" alt="" width="38" height="38" title="envelope-icon"> contato@realeza.com.br</p>
      </div>
      <div class="col-12 col-sm-12 col-md-4 mt-2 mt-md-0">
        <h5 class="text-uppercase">Formas de Pagamento</h5>
        <hr>
        <img class="payment-methods" src="/assets/payment-methods/visa.png">
        <img class="payment-methods" src="/assets/payment-methods/mastercard.png">
        <img class="payment-methods" src="/assets/payment-methods/amex.png">
        <img class="payment-methods" src="/assets/payment-methods/diners.png">
        <img class="payment-methods" src="/assets/payment-methods/boleto.png">
        <img class="payment-methods" src="/assets/payment-methods/elo.png">
        <img class="payment-methods" src="/assets/payment-methods/hiper.png">
        <img class="payment-methods" src="/assets/payment-methods/hipercard.png">
      </div>
      <div class="col-12 col-sm-12 col-md-4 mt-4 mt-md-0">
        <h5 class="text-uppercase">Formas de Envio</h5>
        <hr>
        <div>
          <img class="shipping-ways" src="/assets/shipping-ways/correios.png">
          <img class="shipping-ways" src="/assets/shipping-ways/pac.png">
          <img class="shipping-ways" src="/assets/shipping-ways/sedex.png">
          <img class="shipping-ways" src="/assets/shipping-ways/sedex-10.png">
          <img class="shipping-ways" src="/assets/shipping-ways/sedex-12.png">
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-muted">
    <div class="row">
      <div class="col-12 mt-4 pt-3 bg-light">
        <p>Copyright Realeza Bem Estar Sexual - 00.000.0000/0001-00 - 2020. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>