.footer {
  background-color: #48494B;
}

.footer > span {
  color: #ffffff;
  padding-top: 20px;
}

ul {
  list-style-type: none;
}

.payment-methods {
  width: 60px;
  height: 37px;
}

.shipping-ways {
  width: 74px;
  height: 37px;
}

.stripe {
  /* height: 80px; */
  background-color: #000000;
  color: #ffffff;
  /* letter-spacing: 1px; */
}