<div class="col-12 text-center my-4">
  <h1 class="text-uppercase display-6">Ofertas Imperdíveis</h1>
  <p class="lead">Para você não perder a maior Black Friday de produtos eróticos!</p>
  <hr>
</div>

<div class="card-deck ml-3 mr-3 text-center">
  <div class="card mb-sm-3 mb-md-3 mb-lg-0 shadow">
    <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/soft-ball-bolinha-explosiva-blue-ice-soft-love.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bolinha Explosiva Blue Ice</h5>
      <h6 class="card-subtitle mb-2 text-muted">Provoca na pele uma sensação de refrescância</h6>
      <p class="card-text">R$ 12,50</p>
    </div>
    <div class="card-footer">
      <a class="card-link" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Saiba mais"></a>
      <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Compartilhe"></a>
    </div>
  </div>
  <div class="card mb-sm-3 mb-md-3 mb-lg-0 shadow">
    <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/soft-ball-bolinha-explosiva-facilit.jpg" alt="tanga-vem-quente">
    <div class="card-body">
      <h5 class="card-title">Tanga Vem Quente</h5>
      <h6 class="card-subtitle mb-2 text-muted">Abertura para penetração vaginal sem retirar a tanga</h6>
      <p class="card-text">R$ 39,99</p>
    </div>
    <div class="card-footer">
      <a class="card-link" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Saiba mais"></a>
      <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Compartilhe"></a>
    </div>
  </div>
  <div class="w-100 d-none d-sm-block d-lg-none">
    <!-- <wrap every 2 on sm> -->
  </div>
  <div class="card shadow">
    <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/bolinha-tailandesa-pompoarismo-de-metal-dourada-hard.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Power Black Ice Spray</h5>
      <h6 class="card-subtitle mb-2 text-muted">Específico para garantir um hálito fresco e agradável</h6>
      <p class="card-text">R$ 12,50</p>
    </div>
    <div class="card-footer">
      <a class="card-link" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Saiba mais"></a>
      <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Compartilhe"></a>
    </div>
  </div>
  <div class="card shadow">
    <img class="card-img-top pl-3 pt-3 pr-" src="/assets/card/special-discount/cream-ball-via-femme-ball-labareda-cream-bolinha-explosiva-creme-de-funcao.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Vibroquete Cola</h5>
      <h6 class="card-subtitle mb-2 text-muted">Vibrador líquido</h6>
      <p class="card-text">R$ 12,50</p>
    </div>
    <div class="card-footer text-muted">
      <a class="card-link" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Saiba mais"></a>
      <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Compartilhe"></a>
    </div>
  </div>
</div>

<!-- <div class="row mb-3 ml-3 mr-3 text-center">
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/soft-ball-bolinha-explosiva-blue-ice-soft-love.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bolinha Explosiva Blue Ice</h5>
        <h6 class="card-subtitle mb-2 text-muted">Provoca na pele uma sensação de refrescância</h6>
        <p class="card-text">R$ 12,50</p>
      </div>
      <div class="card-footer">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/soft-ball-bolinha-explosiva-facilit.jpg" alt="tanga-vem-quente">
      <div class="card-body">
        <h5 class="card-title">Tanga Vem Quente</h5>
        <h6 class="card-subtitle mb-2 text-muted">Abertura para penetração vaginal sem retirar a tanga</h6>
        <p class="card-text">R$ 39,99</p>
      </div>
      <div class="card-footer">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/bolinha-tailandesa-pompoarismo-de-metal-dourada-hard.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Power Black Ice Spray</h5>
        <h6 class="card-subtitle mb-2 text-muted">Específico para garantir um hálito fresco e agradável</h6>
        <p class="card-text">R$ 12,50</p>
      </div>
      <div class="card-footer">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-" src="/assets/card/special-discount/cream-ball-via-femme-ball-labareda-cream-bolinha-explosiva-creme-de-funcao.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vibroquete Cola</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vibrador líquido</h6>
        <p class="card-text">R$ 12,50</p>
      </div>
      <div class="card-footer text-muted">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

</div> -->

<!-- Teste de travar cardas no deck -->
<!-- <div class="container">
  <div class="card-deck">
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">1 Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">2 Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none">
      <wrap every 2 on sm>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">3 Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="w-100 d-none d-md-block d-lg-none">
      <wrap every 3 on md>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">4 Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none">
      <wrap every 2 on sm>
    </div>
    <div class="w-100 d-none d-lg-block d-xl-none">
      <wrap every 4 on lg>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x280" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">5 Card title</h4>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
          content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="w-100 d-none d-xl-block">
      <wrap every 5 on xl>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x300" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">6 Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none">
      <wrap every 2 on sm>
    </div>
    <div class="w-100 d-none d-md-block d-lg-none">
      <wrap every 3 on md>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">7 Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x300" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">8 Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="w-100 d-none d-sm-block d-md-none">
      <wrap every 2 on sm>
    </div>
    <div class="w-100 d-none d-lg-block d-xl-none">
      <wrap every 4 on lg>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="w-100 d-none d-md-block d-lg-none">
      <wrap every 3 on md>
    </div>
    <div class="card mb-4">
      <img class="card-img-top img-fluid" src="//placehold.it/500x270" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">10 Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This card has even longer content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>-->