<div class="col-12 text-center my-4">
  <h1 class="text-uppercase display-6">Ofertas Imperdíveis</h1>
  <p class="lead">Não perca a maior Black Friday de produtos eróticos!</p>
  <hr>
</div>

<!-- <div class="col-12">
  <div class="card-group">
    <div class="col-12 col-sm-4 col-md-3 col-lg-3 mb-4">
      <div class="card">
        <img class="card-img-top card-img-default img-fluid" src="/assets/card/special-discount/special-discount_1.webp" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">Power Black Ice Spray</h6>
          <p class="card-text">R$ 39,99</p>
          <a data-toggle="collapse" href="#collapseCardDesc1" role="button" aria-expanded="false" aria-controls="collapseCardDesc1"><small class="card-text text-muted">+ Descrição</small></a>
        </div>
        <div class="collapse" id="collapseCardDesc1">
          <div class="card-footer">
            <small class="text-muted">Específico para garantir um hálito fresco e agradável</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-3 mb-4">
      <div class="card">
        <img class="card-img-top card-img-default" src="/assets/card/special-discount/special-discount_2.webp" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">Vibroquete Cola</h6>
          <p class="card-text">R$ 39,99</p>
          <a data-toggle="collapse" href="#collapseCardDesc2" role="button" aria-expanded="false" aria-controls="collapseCardDesc2"><small class="card-text text-muted">+ Descrição</small></a>
        </div>
        <div class="collapse" id="collapseCardDesc2">
          <div class="card-footer">
            <small class="text-muted">Vibrador líquido, proporciona sensação de vibrador</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-3 mb-4">
      <div class="card">
        <img class="card-img-top card-img-default" src="/assets/card/special-discount/special-discount_3.webp" alt="tanga-vem-quente">
        <div class="card-body">
          <h6 class="card-title">Tanga Vem Quente</h6>
          <p class="card-text">R$ 39,99</p>
          <a data-toggle="collapse" href="#collapseCardDesc3" role="button" aria-expanded="false" aria-controls="collapseCardDesc3"><small class="card-text text-muted">+ Descrição</small></a>
        </div>
        <div class="collapse" id="collapseCardDesc3">
          <div class="card-footer">
            <small class="text-muted">Abertura para penetração vaginal sem retirar a tanga</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 col-md-3 col-lg-3 mb-4">
      <div class="card">
        <img class="card-img-top card-img-default" src="/assets/card/special-discount/special-discount_4.webp" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title">Hot Ball Plus Esfria</h6>
          <p class="card-text">R$ 7,20</p>
          <a data-toggle="collapse" href="#collapseCardDesc4" role="button" aria-expanded="false" aria-controls="collapseCardDesc4"><small class="card-text text-muted">+ Descrição</small></a>
        </div>
        <div class="collapse" id="collapseCardDesc4">
          <div class="card-footer">
            <small class="text-muted">Provoca na pele uma sensação de refrescância</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div> -->

<div class="row mb-3 ml-3 mr-3 text-center">
  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/soft-ball-bolinha-explosiva-blue-ice-soft-love.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bolinha Explosiva Blue Ice</h5>
        <h6 class="card-subtitle mb-2 text-muted">Provoca na pele uma sensação de refrescância</h6>
        <p class="card-text">R$ 12,50</p>
      </div>
      <div class="card-footer">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/soft-ball-bolinha-explosiva-facilit.jpg" alt="tanga-vem-quente">
      <div class="card-body">
        <h5 class="card-title">Tanga Vem Quente</h5>
        <h6 class="card-subtitle mb-2 text-muted">Abertura para penetração vaginal sem retirar a tanga</h6>
        <p class="card-text">R$ 39,99</p>
      </div>
      <div class="card-footer">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-3" src="/assets/card/special-discount/bolinha-tailandesa-pompoarismo-de-metal-dourada-hard.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Power Black Ice Spray</h5>
        <h6 class="card-subtitle mb-2 text-muted">Específico para garantir um hálito fresco e agradável</h6>
        <p class="card-text">R$ 12,50</p>
      </div>
      <div class="card-footer">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

  <div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card">
      <img class="card-img-top pl-3 pt-3 pr-" src="/assets/card/special-discount/cream-ball-via-femme-ball-labareda-cream-bolinha-explosiva-creme-de-funcao.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vibroquete Cola</h5>
        <h6 class="card-subtitle mb-2 text-muted">Vibrador líquido</h6>
        <p class="card-text">R$ 12,50</p>
      </div>
      <div class="card-footer text-muted">
        <a class="card-link mr-5" href="#"><img src="/assets/icons/plus-circle.svg" alt="" width="38" height="38" title="Bootstrap"></a>
        <a class="card-link" href="#"><img src="/assets/icons/share.svg" alt="" width="38" height="38" title="Bootstrap"></a>
      </div>
    </div>
  </div>

</div>