.stripe {
  /* height: 80px; */
  /* background-color: #DAA520; */
  background-color: #CFB53B;
  /* background-color: #D4AF37; */
  /* background-color: #DAA520; */
  color: #000000;
  letter-spacing: 1px;
}