<div class="stripe row text-center text-uppercase">
  <div class="col-6 col-md-3 mt-3">
    <p>
      <img src="/assets/icons/handbag.svg" alt="" width="26" height="26" title="Bootstrap"> Embalagem Discreta
    </p>
  </div>
  <div class="col-6 col-md-3 mt-3">
    <p>
      <img src="/assets/icons/credit-card.svg" alt="" width="26" height="26" title="Bootstrap"> *Parcele em até 10x
    </p>
  </div>
  <div class="col-6 col-md-3 mt-md-3">
    <p>
      <img src="/assets/icons/check-circle.svg" alt="" width="26" height="26" title="Bootstrap"> Pronta Entrega
    </p>
  </div>
  <div class="col-6 col-md-3 mt-md-3">
    <p>
      <img src="/assets/icons/truck.svg" alt="" width="26" height="26" title="Bootstrap"> Entrega para todo Brasil
    </p>
  </div> 
</div>