<div class="container mt-3 mb-4">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="text-uppercase display-6">para seu Bem Estar Sexual</h1>
      <p class="lead">Produtos de excelente qualidade e que proporciona muito mais prazer para a sua relação sexual</p>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <img class="market-brands img-fluid" src="/assets/highlight-product-category/calcinha-tailandesa.jpg">
    </div>
    <div class="col-12 col-md-8">
      <p class="mt-4">Calcinha Tailandesa desenvolvida em renda com pérolas estimulantes.
        Modelo ideal para momentos especiais!
        As pérolas formam um colar e tem como principal função massagear simultaneamente o clitóris e o pênis.
        Lingerie fio dental toda em renda com amarração para melhor ajuste ao corpo.</p>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12 col-md-8">
      <p class="mt-4">Calcinha Tailandesa desenvolvida em renda com pérolas estimulantes.
        Modelo ideal para momentos especiais!
        As pérolas formam um colar e tem como principal função massagear simultaneamente o clitóris e o pênis.
        Lingerie fio dental toda em renda com amarração para melhor ajuste ao corpo.</p>
    </div>
    <div class="col-12 col-md-4">
      <img class="market-brands img-fluid" src="/assets/highlight-product-category/calcinha-tailandesa-modelo.jpg">
    </div>
  </div> -->
</div>